
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    color: #222;
    transition: background 0.5s, color 0.5s;
}

.dark-theme {
    background: #121212;
    color: #f0f0f0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.skill {
    padding: 10px 20px;
    background: hotpink;
    color: white;
    border-radius: 20px;
    font-weight: 500;
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.1);
    background: #ff69b4;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
    padding: 10px 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.dark-theme .navbar {
    background: #1f1f1f;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: hotpink;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: hotpink;
}

.theme-icon {
    font-size: 26px;
    cursor: pointer;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.home-section {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section, .projects-section, .contact-section {
    background: #f4f4f4;
}

.dark-theme .about-section,
.dark-theme .projects-section,
.dark-theme .contact-section {
    background: #2a2a2a;
}

/* Buttons */
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: hotpink;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #ff69b4;
}

.about-stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}

.about-stats div {
    text-align: center;
}


form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
    font-size: 14px;
}

.dark-theme footer {
    background: #1f1f1f;
}
